/* Main Layout */
.forgot-container {
  display: flex;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

/* LEFT SECTION */
.forgot-left {
  flex: 1;
  background: linear-gradient(135deg, #f8f5ee, #f0e6d2);
  padding: 100px;
  position: relative;
  overflow: hidden;
  animation: fadeIn 1s ease-in-out;
}

.forgot-left h4 {
  color: #666;
  margin-bottom: 20px;
}

.forgot-left h1 {
  font-size: 48px;
  font-weight: 700;
  color: #111;
}

.forgot-left span {
  color: #caa64b;
}

.forgot-left p {
  margin-top: 20px;
  color: #555;
  font-size: 18px;
}

/* Gold Floating Orb */
.gold-orb {
  width: 160px;
  height: 160px;
  background: radial-gradient(circle at 30% 30%, #f6d365, #caa64b);
  border-radius: 50%;
  position: absolute;
  bottom: 80px;
  left: 120px;
  animation: floatOrb 5s ease-in-out infinite;
  box-shadow: 0 0 60px rgba(202, 166, 75, 0.6);
}

/* RIGHT SECTION */
.forgot-right {
  flex: 1.8;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.forgot-card {
  width: 100%;
  padding: 50px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.08);
  animation: slideUp 0.8s ease;
}

.forgot-card h2 {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 600;
}

.forgot-card label {
  font-size: 14px;
  color: #666;
}

.forgot-card input {
  width: 75%;
  padding: 14px;
  margin: 10px 0 20px 0;
  border-radius: 12px;
  border: 1px solid #ddd;
  transition: 0.3s;
}

.forgot-card input:focus {
  border-color: #caa64b;
  outline: none;
  box-shadow: 0 0 0 3px rgba(202, 166, 75, 0.2);
}

.forgot-card button {
  width: 50%;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(90deg, #caa64b, #f6d365);
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.forgot-card button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(202, 166, 75, 0.3);
}

.forgot-card button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.otp-text {
  font-size: 14px;
  margin-bottom: 10px;
  color: #555;
}

/* Animations */
@keyframes floatOrb {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-25px); }
  100% { transform: translateY(0px); }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}



.otp-container{
display:flex;
gap:12px;
margin:20px 0;
}

.otp-container input{
width:50px;
height:50px;
text-align:center;
font-size:20px;
border-radius:10px;
border:1px solid #ddd;
transition:0.3s;
}

.otp-container input:focus{
border-color:#caa64b;
outline:none;
box-shadow:0 0 0 3px rgba(202,166,75,0.2);
}